{:company/legal-name "Cushman & Wakefield, Inc."
 :company/lei "549300O7PRTLVBF2ZE53"
 :company/jurisdiction "US-DE"
 :company/website "https://www.cushmanwakefield.com"
 :company/ticker "CWK (NYSE)"}
